<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.lutendomlab.loginfirebase">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/geologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SpashScreenActivity"
            android:theme="@style/AppTheme.NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SignupActivity"
            android:label="Register" />

        <activity
            android:name=".UpdateProfileActivity"
            android:label="Register" />

        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset password" />

        <activity
            android:name=".HomeScreenUser"
            android:label="Home page" />

        <activity
            android:name=".SendMessage"
            android:label="Send Message"/>

        <activity
            android:name=".ChangePassword"
            android:label="Change password"/>

        <activity
            android:name=".MapsActivity" />

        <activity
            android:name=".LeaveApply"
            android:label="Apply for leave"/>

        <activity
            android:name=".AdminOption"
            android:label="Student" />

        <activity
            android:name=".AdminOptionStudents"
            android:label="Student" />

        <activity
            android:name=".timeSheet.TimeSheetsActivity"
            android:label="Time sheet" />

        <activity
            android:name=".ListViewFacilitatorsActivity"
            android:label="Facilitators" />

        <activity
            android:name=".AdminActivity"
            android:label="Home page"  />
    </application>

</manifest>