<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.lutendomlab.loginfirebase">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/geologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".SpashScreenActivity"
            android:theme="@style/AppTheme.NoActionBarSpash">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:label="Register"
            />

        <activity android:name=".UpdateProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ViewProfileAdmin"
            android:label="Profile"
            android:theme="@style/AppTheme" />

        <activity android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ViewProfileStudent"
            android:label="Profile"
            android:theme="@style/AppTheme"/>

        <activity android:name=".UpdateProfileActivityAdmin"
            android:label="Profile"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".HomeScreenUser"
            android:label="Home" />

        <activity android:name=".SendMessage"
            android:theme="@style/AppTheme"
            android:label="Send Message"/>

        <activity android:name=".AboutUsActivity"
            android:theme="@style/AppTheme"
            android:label="About Us"/>

        <activity android:name=".ChangePassword"
            android:label="Change password"/>

        <activity android:name=".MapsActivity" />

        <activity android:name=".LeaveApply"
            android:theme="@style/AppTheme"
            android:label="Apply for leave"/>

        <activity android:name=".AdminOption"
            android:theme="@style/AppTheme" />

        <activity android:name=".AdminOptionStudents"
            android:theme="@style/AppTheme" />

        <activity android:name=".timeSheet.TimeSheetsActivity"
            android:theme="@style/AppTheme"
            android:label="TimeSheet" />

        <activity android:name=".ListViewFacilitatorsActivity"
            android:theme="@style/AppTheme"
            android:label="Facilitator" />

        <activity android:name=".AdminActivity"
            android:theme="@style/AppTheme"
            android:label="Home page"  />

        <activity android:name=".FacilitatorMainActivity"
            android:theme="@style/AppTheme"
            android:label="Home page"  />

    </application>

</manifest>